# Current coredev of Plone 5.2
[buildout]
extends =
    local_demo.cfg
    https://raw.githubusercontent.com/plone/buildout.coredev/6.0/sources.cfg
    https://raw.githubusercontent.com/plone/buildout.coredev/6.0/checkouts.cfg
    https://raw.githubusercontent.com/plone/buildout.coredev/6.0/versions.cfg

site = demo-latest-plone6

always-checkout = force

git-clone-depth = 1

show-picked-versions = true
allow-picked-versions = true

parts -=
    robot

# Adjust to directory-setup of server. The default matches gocept-servers.
vardir = ${buildout:directory}/var
backupdir = ${buildout:directory}/backup
logdir = ${buildout:vardir}/log

sentry_dsn = https://a8044882530b44f8bf8f4397cee27664:d5ec342191b2471386d9247bafb4262b@sentry.starzel.de/23

[supervisor]
recipe = zc.recipe.egg
eggs =
    supervisor
    superlance

[supervisor-conf]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/supervisord-nightly.conf
output = ${buildout:directory}/etc/supervisord.conf

[ports]
instance        = 8074

[versions]
