# Demo site with Plone 5.2 coredev on Python 3
[buildout]
extends =
    local_demo_nightly_plone52.cfg

sentry_dsn = https://5ba81b9cf3e74a8c8c22909e5a580e46@o333228.ingest.sentry.io/6049259
site = demo-latest-plone52-py3

parts +=
#    refresh-crontab

[ports]
instance        = 8073

[versions]


[refresh-crontab]
recipe = z3c.recipe.usercrontab
times = 4 0,4,8,12,16,20 * * *
command = touch /home/zope/run_latest_py3.txt && cd /home/zope/plone.demo.ansible/roles/plone.maintenance && git pull && cd /home/zope/plone.demo.ansible/ && git pull && /usr/local/bin/pipenv run ansible-playbook playbooks/demo-latest-py3.plone.org.yml -i inventory/hosts  > /home/zope/demo_nightly_plone52_py3.log 2>&1
