#login_form .formControls input[type="submit"],
input#__ac_name,
input#__ac_password,
label[for="__ac_name"],
label[for="__ac_password"] {
    display: none;
}

body.userrole-authenticated .for_autheticated,
body.userrole-anonymous .for_anonymous {
    display: block;
}

body.userrole-authenticated .for_anonymous,
body.userrole-anonymous .for_autheticated {
    display: none;
}

.principal.plonedemo {
    padding: 20px 0;
}

.principal.plonedemo h2 {
    margin: 20px 0;
}

.principal.plonedemo h3 {
    margin-top: 0;
}